:root {
  --font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', Arial, sans-serif;
  --font-size: 1.6rem;
  --line-height: 1.5;
  --background-color: #eee;
  --color:#030303;
  --a-color: #477ca7;
  --a-visited-color: #74638f;
  --image-background-color: white;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-heigt);
  color: var(--color);
  background: var(--background-color);
  text-align: center;
  margin: 0;
}
a {
  color: var(--a-color);
}
a:visited {
  color: var(--a-visited-color);
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
}

@media (max-width: 460px) {
  .main {
    margin: 0;
  }
}

.main header {
  font-size: 4rem;
  margin-bottom: 0;
}
@media (max-width: 460px) {
  .main header {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.tribute-image {
  background: var(--image-background-color);
  padding: 10px;
  margin: 0;
}

.tribute-image figcaption {
  margin: 15px 0 5px 0;
}
@media (max-width: 460px) {
  .tribute-image figcaption {
    font-size: 1.4rem;
  }
}

.tribute-info header {
  font-size: 3.25rem;
}
.tribute-info ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
.tribute-info li {
  margin: 16px 0;
}

.tribute-quote blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
